$typography: (
  h1: (
    mobile: (
      font-size: 32px,
      line-height: 32px,
    ),
    desktop: (
      font-size: 48px,
      line-height: 48px,
    ),
  ),
  h2: (
    mobile: (
      font-size: 24px,
      line-height: 24px,
    ),
    desktop: (
      font-size: 32px,
      line-height: 40px,
    ),
  ),
  h3: (
    mobile: (
      font-size: 20px,
      line-height: 20px,
    ),
    desktop: (
      font-size: 24px,
      line-height: 24px,
    ),
  ),
  h4: (
    mobile: (
      font-size: 18px,
      line-height: 20px,
    ),
    desktop: (
      font-size: 20px,
      line-height: 24px,
    ),
  ),
  h5: (
    mobile: (
      font-size: 16px,
      line-height: 24px,
    ),
    desktop: (
      font-size: 18px,
      line-height: 24px,
    ),
  ),
  h6: (
    mobile: (
      font-size: 12px,
      line-height: 24px,
    ),
    desktop: (
      font-size: 14px,
      line-height: 20px,
    ),
  ),
);

.assignments {
    width: 90%;
    margin: auto;
  &__assignment2 {
    .assignment2__question {
      color: black;
    }

    & {
      @each $heading, $sizes in $typography {
        #{$heading} {
          font-size: map-get(map-get($sizes, mobile), font-size);
          line-height: map-get(map-get($sizes, mobile), line-height);
        }

        @media screen and (min-width: 1024px) {
          #{$heading} {
            font-size: map-get(map-get($sizes, desktop), font-size);
            line-height: map-get(map-get($sizes, desktop), line-height);
            text-transform: capitalize;
            color: blue;
          }
        }
      }
    }
  }
}
