$root-font-size: 16px;

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: $root-font-size;
}

// style for calculating the rem value based on user provided px value;
// 1rem = 16px
// 16px = 1rem
// 1px = 1/16px = 0.0625rem;
// 16px = 1/16*16 = 1rem;
// 15px = 1/16 * 15 = 0.9345rem;

@function rem($value) {
  @if $value <=16px {
    @return 1rem;
  } @else {
    @return (1rem / $root-font-size) * $value;
  }
}

.assignments {
  max-width: 90%;
  margin: 50px auto;
  $block: ".assignment";

  h1{
    color: orangered;
  }

  &__assignment1,
  &__assignment2 {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    line-height: rem(30px);
    margin: rem(20px) 0px;

    &__question {
      padding: 10px 0px;
      font-weight: 600;
      font-size: rem(24px);
      line-height: rem(40px);
      text-transform: capitalize;
    }

    &__title {
      font-size: rem(18px);
      font-weight: 600;
    }
  }
  &__lists {
    list-style: number;
    padding-left: rem(20px);
  }
  h2 {
    font-size: rem(24px);
    color: black;
    padding-bottom: rem(16px);
  }
  a {
    margin-bottom: rem(20px);
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}
